.feed {
  flex: 0.4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.feed__header {
  position: fixed;
  background-color: #f4f6fc;
  width: 650px;
  z-index: 100;

  padding: 15px 20px;
  top: 0;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
