html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
    --twitter-color-hover: #1e9bf0 !important;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        --twitter-color: #50b7f5;
        --twitter-background: #e6ecf0;
        --twitter-border-color: #cfd9de !important;
    }
}
