.layout_container {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.layout_div {
    overflow: scroll;
    width: 650px;
    border-left: 1px solid var(--twitter-border-color);
    border-right: 1px solid var(--twitter-border-color);
}
.layout_div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.children {
    padding-top: 80px;
}
