.login {
    padding: 50px;
    padding-right: 50px;
    text-align: center;
    background-image: linear-gradient(#ffff00, #d500f9);
}

.logout {
    border: none;
    color: white;
    background-color: #4285f4;
    cursor: pointer;
    width: 100%;
}
